.root{
	-fx-background-image:url('../images/loginBackground.jpg');
	-fx-background-size:cover;
}

.label{
	-fx-text-fill: #549bad;
}

#labelp:hover{
	-fx-text-fill: #258096;
}

.button{
	-fx-background-color: 
        #549bad,
        linear-gradient(#549bad 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #549bad 45%, rgba(230,230,230,0) 50%);
    	-fx-background-radius: 30;
    	-fx-background-insets: 0,1,1;
    	-fx-text-fill: white;
    	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

.validationError{
	-fx-text-fill: #ff0000;
}



